---

---

<style>
  :root {
    --color-primary: rgb(99, 91, 255);
    --color-secondary: rgb(10, 37, 64);
  }
</style>

<html>
  <head>
    <title>VCF Form Demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="Fresh graduates, Entry level jobs, new graduates, school leavers, Search for job, job opportunity, job opening, engineering jobs, accounting jobs, manager jobs, managerial jobs, manager position, managerial position"
    />
    <meta
      name="description"
      content="Astro + TailwindCSS + TypeScript + React Hook Form Demo"
    />
    <link rel="icon" href="/favicon.ico?v=1.0.0" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
  </head>
  <body class="text-base text-gray-800">
    <div class="flex flex-col justify-between h-screen">
      <slot />
    </div>
  </body>
</html>
